body {
	background-image: url("../img/background.jpg");
	font-family: "Oswald", sans-serif;
	/* font-family: "Rubik", sans-serif; */
}
#playWindow {
	margin: 0 auto;
	width: 700px;
	height: 650px;
	border-radius: 5px;
	background-color: slategray;
	border: solid seashell;
	padding-top: 10px;
}

#Inventory {
	width: 90%;
	height: 55px;
	margin: 0 auto;
	border: solid dimgray;
	background: whitesmoke;
	border-radius: 3px;
	display: flex;
	padding: 3px;
}

.inventory-container {
	justify-content: space-around;
	align-self: center;
}

#Inventory img {
	padding: 2px;
	width: 50px;
}

.modalVisible {
	width: 350px;
	height: 325px;
	left: 33%;
	top: 25%;
	border: solid dimgray 2px;
	position: absolute;
	background-color: rgba(140, 164, 147, 0.5);
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto;
}

.modalVisible > p {
	text-align: center;
	font-size: 25px;
	width: 90%;
}

button {
	padding: 10px;
}
.description {
	padding: 10px;
	flex-direction: row;
}
form {
	display: flex;
	align-items: center;
	justify-content: center;
}
.modal {
	/* display: none; */
	position: absolute;
	margin: 20px;
	border: solid dimgray 2px;
	background-color: rgba(140, 164, 147, 0.8);
	display: none;
	text-align: center;
	border-radius: 3px;
	color: black;
	padding: 20px;
}
.showIt {
	display: flex;
}

#information {
	display: flex;
	margin-top: -10px;
	justify-content: center;
}

#information > h2 {
	padding: 20px;
}
#information > p {
	padding: 20px;
}
