/* * {
	border: solid gold;
} */

#playWindow {
	margin: 0 auto;
	width: 700px;
	height: 650px;
}

#Inventory {
	width: 100%;
	height: 55px;
	border: solid dimgray;
	border-radius: 3px;
	margin: 0 auto;
	display: flex;
	padding-left: 3px;
	padding-bottom: 0;
}

.inventory-container {
	justify-content: space-around;
	align-self: center;
}

#Inventory img {
	padding: 2px;
	width: 50px;
}
.description {
}
.modalVisible {
	position: fixed;
	background-color: rgba(140, 164, 147, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}
.modal {
	/* display: none; */
	position: fixed;
	background-color: rgba(140, 164, 147, 0.5);
	display: none;
	text-align: center;
	border-radius: 3px;
	color: black;
	padding: 20px;
}
.showIt {
	display: flex;
}
